.phone {
  background: url(./assets/img_kv_phone_v1\ \(1\).avif) no-repeat, center;
  margin-left: 100px;
  padding-left: 90px;
  padding-top: 10px;
  height: 700px;
}

form {
  background-color: lightblue;
  height: 660px;
  border-radius: 19px;
  width: 300px;
  padding-top: 100px;
}


form div {
  margin-bottom: 20px;
}

header .active {
  color: red;
  font-weight: 700;
}

.btn {
  height: 40px;
}

.col-3 {
  padding: 8px;
  border-radius: 20px;
}

.Modal {
  background-color: transparent;
  height: 400px;
  padding-top: 0px;
  margin: auto;
}